.about {
    text-transform: capitalize;
}

.about-container {
    grid-template-columns: 3fr 9fr;
    gap: 1.875rem;
    align-items: center;
}

.about-data {
    padding: 1.875rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    align-items: center;
}

.about-description {
    margin-bottom: 1rem;
    color: var(--text-dark-color);
}

.about .btn a {
    color: #fff;
}

.about-skills {
    row-gap: 1.25rem;
}

.skills-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-dark-color);
}

.skills-number {
    line-height: 1.2;
    color: var(--text-dark-color);
}

.skills-bar,
.skills-percentage {
    height: 7px;
    border-radius: 0.25rem;
}

.skills-bar {
    background-color: #f1f1f1;
}

.skills-percentage {
    display: block;
}

.AutoCAD {
    width: 85%;
    background-color: rgb(108, 108, 250);
}

.Revit {
    width: 90%;
    background-color: rgb(255, 77, 97);
}

.Photoshop {
    width: 80%;
    background-color: rgb(0, 0, 0);
}

.V-Ray {
    width: 95%;
    background-color: rgb(251, 168, 52);
}

.D-Max {
    width: 90%;
    background-color: rgb(68, 215, 182);
}

.Corona {
    width: 80%;
    background-color: rgb(167, 146, 119);
}

.about-boxes {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    margin-top: 4.35rem;
}

.about-box {
    display: flex;
    column-gap: 1.5rem;
    margin: auto;
}

.about-icon,
.about-box i {
    font-size: var(--h1-font-size);
    color: #dedeea;
}

.about-title {
    font-size: 1.875rem;
}

.about-img {
    width: 150px;
}

@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
    }

    .about-img {
        justify-self: center;
    }

    .about-box {
        flex-direction: column;
        row-gap: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .about-container {
        grid-template-columns: 350px;
        text-align: center;
    }

    .about-img {
        justify-self: center;
    }

    .about-data {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .about-boxes {
        grid-template-columns: repeat(2, 150px);
        row-gap: 1.5rem;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 370px) {
    .about-container {
        grid-template-columns: 1fr;
    }

    .about-boxes {
        grid-template-columns: 1fr;
    }
}